html {
  background-color: black;
  color: white;
  font-family: Roboto;
  font-weight: 900;
  font-size: 8%;
}
.big {
  font-size: 8%;
  font-family: Roboto;
  font-weight: 900;
}
.default {
  font-size: 7%;
  font-family: Roboto;
  font-weight: 700;
}
.small {
  font-size: 6%;
  font-family: Roboto;
  font-weight: 500;
}
.tiny {
  font-size: 5%;
  font-family: Roboto;
  font-weight: 400;
}
.center {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table.numberupgrade-table nu {
  font-size: 5%;
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table.numberupgrade-table nt {
  font-size: 4%;
  font-family: Roboto;
  font-weight: 500;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
