html {
  background-color: black;
  color: white;
  font-family: Roboto;
  font-weight: 900;
  font-size: 48px;
}
.big {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 900;
}
.default {
  font-size: 30px;
  font-family: Roboto;
  font-weight: 700;
}
.small {
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
}
.tiny {
  font-size: 15px;
  font-family: Roboto;
  font-weight: 400;
}
.center {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background-color: #aaa;
  color: #ccc;
  width: 150px;
  height: 100px;
  transition: transform 0.25s ease;
}
button:hover {
  transform: scale(1.1);
}
table.numberupgrade-table button {
  background-color: #6a6;
  color: #4c4;
  width: 150px;
  height: 100px;
  transition: transform 0.25s ease;
}
table.numberupgrade-table button:hover {
  transform: scale(1.1);
}
table.numberupgrade-table button:disabled {
  background-color: #555;
  color: #999;
  width: 150px;
  height: 100px;
}

table.numberupgrade-table nu {
  font-size: 15px;
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table.numberupgrade-table nt {
  font-size: 10px;
  font-family: Roboto;
  font-weight: 500;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
