html {
  background-color: black;
  color: white;
  font-family: Roboto;
  font-weight: 900;
  font-size: 48px;
}
.big {
  font-size: 48px;
  font-family: Roboto;
  font-weight: 900;
}
.default {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
}
.small {
  font-size: 32px;
  font-family: Roboto;
  font-weight: 500;
}
.tiny {
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
}
.center {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table.numberupgrade-table nu {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table.numberupgrade-table nt {
  font-size: 8px;
  font-family: Roboto;
  font-weight: 500;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
